@import './styles/fonts.scss';

.main {
  margin-top: 80px;
  padding-bottom: 200px;

  h1 {
    font-size: $font-size-su;
  }

  h2 {
    font-size: $font-size-xxl;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
  }

  p, span, div {
    font-family: $contentFont;
  }
}